.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj

Data/county/*.RData
Data/place/*/*.Rdata
Data/tract/*/*.Rdata
Data/Supporting_Data/*
!Data/Supporting_Data/.gitkeep
Data/Supporting_Files/*/*
!Data/Supporting_Files/*/.gitkeep